---
import Contact from "./Contact.astro";
import Container from "./Container.astro";
import FooterLinks from "./FooterLinks.astro";

---

<footer class="py-20 md:py-40">
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
          <div
            class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start"
          >
            <ul class="list-inside list-disc space-y-8">
              <li><a href="#" class="transition hover:text-primary">Home</a></li>
  
             
              <li><a href="#" class="transition hover:text-primary">Contact</a></li>
              <li><a href="#" class="transition hover:text-primary">Terms of Use</a></li>
            </ul>
  
            <ul role="list" class="space-y-8">
              <li>
                <FooterLinks 
                  title="Github"
                  href="https://github.com/darcardenasp045"
                />
              </li>
              <li>
                <FooterLinks 
                  title="X"
                  href="https://twitter.com/darmandocardena"
                />
              </li>
              <li>
                <FooterLinks 
                  title="Youtube"
                  href="https://www.youtube.com/channel/UC80sZFZUTvC7L35BZ2hk4vA"
                />
              </li>
              <li>
                <FooterLinks 
                  title="Facebook"
                  href="https://www.facebook.com/daniel.cardenas.16718979"
                />
              </li>
              <li>
                <FooterLinks 
                  title="Linkedin"
                  href="https://www.linkedin.com/in/daniel-cardenas-3725381b0/"
                />
              </li>
              <li>
                <FooterLinks 
                  title="Instagram"
                  href="https://www.instagram.com/darcardenasp/"
                />
              </li>
              
            </ul>
          </div>
          <div
            class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
          >
           
            <span class="flex justify-evenly text-gray-600 dark:text-white">
              <a href="#" class="font-medium">Terminos de uso </a>
              <a href="#" class="font-medium"> Politica de privacidad</a>
              
            </span>
            
  
           
          </div>
          
        </div>
        
      </div>
    </Container>
</footer>