---
import Contact from "./Contact.astro";
import Container from "./Container.astro";
import FooterLinks from "./FooterLinks.astro";


---

<footer class="py-20 md:py-40">
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
          <div
            class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start"
          >
            <ul class="list-inside list-disc space-y-8">
              <li><a href="#" class="transition hover:text-primary">Home</a></li>
  
             
              <li><a href="#" class="transition hover:text-primary">Contact</a></li>
              <li><a href="#" class="transition hover:text-primary">Terms of Use</a></li>
            </ul>
  
            <ul role="list" class="space-y-8">
              <li>
                <FooterLinks 
                  title="Github"
                  href="https://github.com/darcardenasp045"
                />
              </li>
              <li>
                <FooterLinks 
                  title="X"
                  href="https://twitter.com/darmandocardena"
                />
              </li>
              <li>
                <FooterLinks 
                  title="Youtube"
                  href="https://www.youtube.com/channel/UC80sZFZUTvC7L35BZ2hk4vA"
                />
              </li>
              <li>
                <FooterLinks 
                  title="Facebook"
                  href="https://www.facebook.com/daniel.cardenas.16718979"
                />
              </li>
              <li>
                <FooterLinks 
                  title="Linkedin"
                  href="https://www.linkedin.com/in/daniel-cardenas-3725381b0/"
                />
              </li>
              <li>
                <FooterLinks 
                  title="Instagram"
                  href="https://www.instagram.com/darcardenasp/"
                />
              </li>
              
            </ul>
          </div>
          <div
            class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
          >
           
            <span class="flex justify-evenly text-gray-600 dark:text-white z-10">
              <a href="#" class="font-medium">Terminos de uso </a>
              <a id="politica" class="font-medium"> Politica de privacidad</a>
              <tool-tip role="tooltip">
                <strong>Política de Privacidad:</strong>
                <br/>
                1. Información que Recopilamos:
                <br/>
                - Recopilamos información personal como nombres, direcciones de correo electrónico y direcciones IP cuando los usuarios se registran en nuestro sitio o completan formularios.
                <br/>
                - También recopilamos información no personal, como datos de uso del sitio web y cookies.
                Uso de la Información:

                Utilizamos la información recopilada para mejorar nuestros servicios, personalizar la experiencia del usuario y proporcionar soporte al cliente.
                No vendemos, alquilamos ni compartimos tu información personal con terceros sin tu consentimiento, excepto en casos específicos descritos en esta política.
                Seguridad de la Información:

                Tomamos medidas de seguridad razonables para proteger la información personal de nuestros usuarios contra accesos no autorizados o divulgaciones.
                Cookies:

                Utilizamos cookies para mejorar la experiencia del usuario y analizar el tráfico del sitio web. Puedes controlar el uso de cookies a través de la configuración de tu navegador.
                Derechos de los Usuarios:

                Los usuarios tienen derecho a acceder, corregir, actualizar o eliminar su información personal según lo estipulado en la legislación colombiana de protección de datos personales.
                Cambios en la Política de Privacidad:

                Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Te recomendamos revisar periódicamente esta página para estar al tanto de cualquier cambio.
                
              </tool-tip>
              
            </span>
            
          </div>
          
        </div>
        
      </div>
    </Container>
</footer>
<style>
  tool-tip{
    width: 800px;
    background-color: aliceblue;
    color: black;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 10px #000;
    padding: .5rem 1rem;
    font-size: .8rem;
    border-radius: 8px;

    top: 100%;
    left: 12.5%;

    opacity: 0;
    transition: opacity .2s ease-in-out;

  }
  :has(> tool-tip){
    position: relative;
  }

  :has(> tool-tip):hover > tool-tip{
    opacity: 1;
  }
</style>
