---
import Container from "./Container.astro"
import RecentProyects from "./RecentProyects.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Proyectos mas recientes</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          En esta sección encontrarás los proyectos más recientes que hemos realizado.
        </p>
      </div>
      <div class="flex flex-col gap-8 md:flex-row lg:flex-row lg:items-center">
        <RecentProyects
          title="El proyecto mas reciente"
          description="Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus..."
          href="/images/proyects/proyect-1.jpg"
          alt="Proyecto 1",
          imagen ="https://images.unsplash.com/photo-1631533943943-3e3e3e3e3e3e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMjIwNzB8MHwxfGFsbHwxfHx8fHx8fHx8fHwxNjMwNzIwNzIw&ixlib=rb-1.2.1&q=80&w=400"
        />
        <RecentProyects
          title="El proyecto mas reciente"
          description="Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus..."
          href="/images/proyects/proyect-1.jpg"
          alt="Proyecto 1",
          imagen ="https://images.unsplash.com/photo-1631533943943-3e3e3e3e3e3e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMjIwNzB8MHwxfGFsbHwxfHx8fHx8fHx8fHwxNjMwNzIwNzIw&ixlib=rb-1.2.1&q=80&w=400"
        />
        
      </div>
  </Container>
</div>