<div class="mt-12 lg:mt-0">
    <a
        target="_blank"
        href=" https://api.whatsapp.com/send/?phone=573168705047" class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
        <span class="relative text-sm font-semibold text-white"> Contactanós</span>
    </a>
</div>
<div class="mt-12 lg:mt-0">
    <a 
        target="_blank"
        href=" https://api.whatsapp.com/send/?phone=573168705047"
        class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-gray-50    before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
        <span class="relative text-sm font-semibold text-gray-800"> +57 316 870 50 47</span>
    </a>
</div>