---
interface Props{
    title: string
    href: string
    icon: string
   

}

const {title, href, icon} = Astro.props

---
<a  href={href} 
    class="flex items-center space-x-3 transition hover:text-primary"
    target="_blank"
    rel="noopener noreferrer"
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      class="w-5"
      viewBox="0 0 16 16"
    >
      <path
        d={icon}
      />
    </svg>
    <span>{title}</span>
  </a>