---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
      </svg>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="./images/pie.svg"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Tu | Pagina | Ya tiene los mejores desarrolladores.
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Contamos con desarrolladores expertos en desarrollo web y móvil, lo que permite que tu proyecto sea desarrollado con las últimas tecnologías y las mejores prácticas. <br> <br> De esta manera te ofrecemos un producto de calidad, que cumple con los estándares de la industria y que te permite escalar y crecer sin problemas. <br> <br> Nuestro equipo de desarrolladores está listo para ayudarte a llevar tu proyecto al siguiente nivel.
          </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
            
             
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>
